#centerit {
    text-align: center;
    margin-top: 3%;
}

.centerbutton {
    margin-top: 20%;
    padding: 2%;
}

.cliente {
    margin-top:10px;
    border: #493131 medium solid;
    border-radius: 10px;
    
}