#centerit {
    text-align: center;
    margin-top: 3%;
}

.centerbutton {
    margin-top: 20%;
    padding: 2%;
}

.row > div {
    margin-top:10px;
    padding: 20px;
    outline: 1px solid #ccc;
    outline-offset: -10px;
 }

 section {
     background-color: rgba(86,61,124,.15);
 }